<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>cuvyvccr.creerg@lnubb.se</string>
	<key>contactName</key>
	<string>Philippe Perret</string>
	<key>description</key>
	<string>New shiny bundle for X.</string>
	<key>name</key>
	<string>_Phil : Simple collecte</string>
	<key>uuid</key>
	<string>48141D31-22EA-4C31-810F-5DCC8610E3AF</string>
</dict>
</plist>
