body
  margin      : 2em
  margin-top  : 3em
  position    : relative
  font-size   : 11.8pt

a
  text-decoration   : none
  color             : #007

div#titre
  font-size     : 1.9em
  margin        : 2.5em 0 0.3em 0.5em
