body
  margin    : 2em
  font-size : 11.8pt
  position  : relative

a
  text-decoration   : none
  color             : #007

div#titre
  font-size     : 1.9em
  margin-top    : 1em
  margin-bottom : 1em

section#sequencier
  padding       : 1em 2em 2em 2em
  border        : 1px solid #ccc
  border-radius : 0.5em

  div.scene
    margin-top      : 0.5em
    border          : 2px solid white
    padding         : 4px
    // Intitule de scène (avec horloge)
    div.intitule
      font-weight     : bold
      font-variant    : small-caps
      font-size       : 1.12em
      clear           : both
      span
        &.lieu, &.effet, &.decor
          margin-left : 12px
        &.horloge
          display       : inline-block
          width         : 60px
          font-weight   : normal
          font-family   : Georgia
          font-size     : 0.8em
          vertical-align  : middle
    // Div du résumé
    div.resume
      margin-left       : 72px // largeur horloge + mg
      font-size         : 1.1em
      sup
        margin-left       : 1em
    //
    /**
      * Un bloc de scène dans la timeline
      *
      * Mais en réalité, ce bloc ne fait que semblant de se
      * trouver dans la timeline. Cf. le mode d'emploi pour
      * le comprendre (RefBook > Timeline.md)
      */
    div.btm
      position          : fixed
      height            : 12px
      top               : 12px
      background-color  : red
      z-index           : -1
      opacity           : 0.8
    &:hover
      border            : 2px solid blue
      div.btm
        background-color    : blue


div.timeline
  position          : fixed
  top               : 12px
  left              : 12px
  height            : 12px
  background-color  : blue
  z-index           : -1
  opacity           : 0.3

div.fiche
  position          : absolute
  width             : 280px
  top               : 12px
  right             : 12px
  background-color  : #000069
  color             : white
  border-radius     : 1em
  padding           : 2em
  &.hidden
    display           : none

  div.titre
    font-size         : 1.1em
    font-weight       : bold
    margin-bottom     : 1em

  a.closebox
    position          : absolute
    font-family       : Helvetica, Arial
    top               : 12px
    right             : 12px
    background-color  : red
    color             : white
    padding           : 0 5px 1px
    border-radius     : 5px
