@import 'charte', 'fiches', 'commons'

section#sequencier
  padding       : 1em 2em 2em 2em
  border        : 1px solid #ccc
  border-radius : 0.5em

  div.scene
    margin-top      : 0.5em
    border          : 2px solid white
    padding         : 4px
    // Intitule de scène (avec horloge)
    div.intitule
      font-weight     : bold
      font-variant    : small-caps
      font-size       : 0.92em
      clear           : both
      span
        &.lieu, &.effet, &.decor
          margin-left : 12px
        &.horloge
          display         : inline-block
          width           : 68px
          font-weight     : normal
          font-family     : Georgia
          font-size       : 1.05em
          vertical-align  : middle

    div.resume, div.paragraphe
      margin-left       : 68px // largeur horloge

    // Div du résumé
    div.resume
      font-size         : 1.1em
      sup
        margin-left       : 1em

    /** Pour les paragraphes, lorsque c'est un brin qui
      * est extrait et que c'est seulement un paragraphe
      * de la scène qui appartient à ce brin.
      */
    div.paragraphes
      margin-left     : 6em
    // NOTE : On ne met pas div.paragraphe à l'intérieur de
    // div.paragraphes car il n'y a pas de div.paragraphes
    // s'il n'y a pas de résumé de scène dans la scène
    div.paragraphe
      &:before
        content : '> ' // marque de paragraphe
    /**
      * Un bloc de scène dans la timeline
      *
      * Mais en réalité, ce bloc ne fait que semblant de se
      * trouver dans la timeline. Cf. le mode d'emploi pour
      * le comprendre (RefBook > Timeline.md)
      */
    div.btm
      position          : fixed
      height            : 12px
      top               : $top_timeline
      background-color  : red
      z-index           : 101
      opacity           : 0.8
    &:hover
      border            : 2px solid blue
      div.btm
        background-color    : blue
        top                 : $top_timeline_scene_hover
        height              : 20px

  // Les marques de suggestion de structure lorsque l'option
  // :suggest_structure est mise à true
  div.stt
    background-color  : red
    font-family       : Arial, Helvetica
    font-size         : 11.4pt
    color             : white
    padding           : 6px 24px

div#timeline_container
  position          : fixed
  width             : 100%
  top               : 0
  background-color  : white
  height            : 50px
  opacity           : 0.9
  z-index           : 100

  div.timeline
    position          : fixed
    top               : $top_timeline
    left              : 12px
    height            : 12px
    background-color  : blue
    z-index           : 100
    opacity           : 0.3
    &:hover
      opacity           : 1

    div
      &.acte
        position          : fixed
        top               : $top_parts
        height            : 14px
        line-height       : 12pt
        font-size         : 11pt
        text-align        : center
        color             : white
        background-color  : black
        padding           : 0
      &.tl-developpement, &.tl-denouement
        border-width      : 0 0 0 2px
        border-style      : solid
        border-color      : white
