@import 'charte', 'fiches', 'commons'

section.statistiques
  margin-left   : 4em

  div.libval

    &:nth-child(odd)
      background-color    : #CCF
    &:nth-child(even)
      background-color    : white
    span.label
      display     : inline-block
      width       : 300px
      font-style  : italic
      color       : #777
