@import 'charte', 'fiches', 'commons'

section.statistiques
  margin-left   : 4em
  div.titre
    margin      : 2em 0 0.5em 0
    font-size   : 1.5em
  section.groupe
    border      : 1px solid
    display     : inline-block
    width       : auto
    margin-left : 4em

    div.libvalval
      margin-left   : 0 !important

decor
  font-variant    : small-caps
